<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="row">
            <div class="col-10">
              <h5>Servicios</h5>
            </div>
            <div class="col-2">
              <%= link_to 'Añadir Servicio', new_t_tarifa_servicio_path, data: { turbolinks: false }, class: 'btn btn-primary float-right' %>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <%= render 'shared/table',
                        object_list: @t_tarifa_servicios,
                        object_attributes: {
                          codigo: 'Código', descripcion: 'Descripción', nombre: 'Nombre',
                          clase: 'Clase', precio: 'Precio', estatus: 'Estatus' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


