<div class="wrapper wrapper-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="ibox ">
          <div class="ibox-title">
            <span class="label label-success float-right">Facturas</span>
            <h5>Registradas</h5>
          </div>
          <div class="ibox-content">
            <h1 class="no-margins">13287 </h1>
            <div class="stat-percent font-bold text-success">
              24%
              <i class="glyphicon glyphicon-ok"></i>
            </div>
            <small>Modificadas</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox ">
          <div class="ibox-title">
            <span class="label label-info float-right">Facturas</span>
            <h5>Por Pagar</h5>
          </div>
          <div class="ibox-content">
            <h1 class="no-margins">1850</h1>
            <div class="stat-percent font-bold text-info">1% <i class="glyphicon glyphicon-ok"></i></div>
            <small>Modificadas</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox ">
          <div class="ibox-title">
            <span class="label label-primary float-right">Recibos</span>
            <h5>Pagados</h5>
          </div>
          <div class="ibox-content">
            <h1 class="no-margins">1345</h1>
            <div class="stat-percent font-bold text-navy">0.5% <i class="glyphicon glyphicon-ok"></i></div>
            <small>Modificados</small>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ibox ">
          <div class="ibox-title">
            <span class="label label-danger float-right">Recibos</span>
            <h5>Anulados</h5>
          </div>
          <div class="ibox-content">
            <h1 class="no-margins">77</h1>
            <div class="stat-percent font-bold text-danger">3% <i class="glyphicon glyphicon-ok"></i></div>
            <small>Modificados</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox ">
          <div class="ibox-content">
            <div>
              <span class="float-right text-right">
                <small>Promedio de ingresos mensuales PAB 32.133,98</strong></small>
                <br/>
                De un total de: 13287 Facturas
              </span>
              <h3 class="font-bold no-margins">
              Facturas vs Recibos Pagados
              </h3>
              <!--<small>Sales marketing.</small>-->
              <br>
            </div>
            <div class="m-t-sm">
              <div class="row">
                <!-----    Grafico grande----------->
                <div class="col-md-10">
                  <div>
                    <canvas id="lineChart" height="114"></canvas>
                  </div>
                </div>
                <!-- ------------------>
                <div class="col-md-2">
                  <div class="ibox ">
                    <div class="ibox-title">
                      <div class="ibox-tools">
                        <h5>Ingreso mensual</h5>
                        <span class="label label-primary">
                        Actualizado <%= Time.now.strftime("%m.%Y") %></span>
                      </div>
                    </div><br>
                    <!-- .............Grafico Pequeño............... -->
                    <div class="ibox-content no-padding">
                      <div class="flot-chart m-t-lg" style="height: 55px;">
                        <div class="flot-chart-content" id="flot-chart1"></div>
                      </div>
                    </div>
                    <ul class="stat-list m-t-lg">
                      <li>
                        <h2 class="no-margins">2,346</h2>
                        <small>Promedio de Facturas último mes</small>
                        <div class="progress progress-mini">
                          <div class="progress-bar" style="width: 48%;"></div>
                        </div>
                      </li>
                      <li>
                        <h2 class="no-margins ">4,422</h2>
                        <small>Promedio de Recibos último mes</small>
                        <div class="progress progress-mini">
                          <div class="progress-bar" style="width: 60%;"></div>
                        </div>
                      </li>
                    </ul>
                    <!-- ............................. -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "dashboard/scriptdashboard" %>