<div class="row justify-content-md-center">
  <div class="col-md-9 col-lg-7">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Método de Pago</h5>
      </div>
      <%= render 'form', registro: @t_metodo_pago, editable: false, return_to: t_metodo_pagos_path %>
    </div>
  </div>
</div>
