<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <input class="datepicker" type="text">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <input class="datepicker" type="text">
    </div>
  </div>
</div>
