<%= form_with(url: t_caja_index_path, method: "get", format: 'json') do %>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= button_tag 'Limpiar', class: 'btn btn-default', id: 'clean-dates' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= text_field_tag 'from', nil, class: 'datepicker', placeholder: 'Desde', onchange: 'Rails.fire(this.form, "submit");', readonly: true, style: 'width: 100%;' %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= text_field_tag 'to', nil, class: 'datepicker', placeholder: 'Hasta', onchange: 'Rails.fire(this.form, "submit");', readonly: true, style: 'width: 100%;' %>
      </div>
    </div>
  </div>
<% end %>
