<div class="ibox-content">
  <%= form_with(model: registro, local: true) do |form| %>  
  <%= render 'form_fields', registro: registro, editable: editable %>
  <div class="form-group row">
    <% if editable %>
      <%= render "shared/action_buttons",
        list_route: return_to, list_text: "Recargos",
        back_route: polymorphic_path(registro), back_text: "Cancelar",
        save_form: true, save_text: "Guardar",
        button_size: "xs" %>
    <% else %>
      <%= render "shared/action_buttons",
        list_route: return_to, list_text: "Recargos",
        edit_route: edit_polymorphic_path(registro), edit_text: "Editar",
        delete_route: polymorphic_path(registro), delete_text: "Borrar",
        button_size: "xs" %>
    <% end %>
  </div>
  <% end %>
</div>
