<div class="row justify-content-md-center">
  <div class="col-md-9 col-lg-7">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Editar <%= @registro.descripcion %></h5>
      </div>
      <%= render 'form', registro: @registro, editable: true, return_to: t_empresa_sector_economicos_path %>
    </div>
  </div>
</div>