<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="row">
            <div class="col-10">
              <h5>Leyendas de Factura</h5>
            </div>
            <div class="col-2">
              <%= link_to 'Añadir Leyenda', new_t_leyenda_path, data: { turbolinks: false }, class: 'btn btn-primary float-right' %>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <%= render 'shared/table', object_list: @t_leyendas, object_attributes: ['anio', 'descripcion', 'estatus'] %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
