
<!-- <small>
  <%#= link_to 'Eliminar', t_leyenda_path(@t_leyenda), method: :delete, data: { confirm: '¿Está seguro de querer eliminar esta leyenda?' } %>
</small> -->

<h3>Anio</h3>
<p><%= @t_leyenda.anio %></p>

<h3>Descripción</h3>
<p><%= @t_leyenda.descripcion %></p>

<h3>Estatus</h3>
<p><%= @t_leyenda.estatus %></p>
