<% if defined? @attributes_to_display %>

data_tables_options = {
  processing: true,
  serverSide: true,
  ajax: {
    url: $('#ajax-datatable').data('source'),
    data: function ( d ) {
      if(jQuery["useDataInAjaxCall"]) {
        jQuery.useDataInAjaxCall(d)
      }
    }
  },
  pagingType: 'full_numbers',  
  columns: [
    <% @attributes_to_display.each do |attribute| %>
      { data: '<%= attribute.to_s %>' },
    <% end if @attributes_to_display %>
  ],
  <% 
  index = @attributes_to_display.index :color
  if index != nil %>
  "aoColumnDefs": [ {
    "aTargets": [ <%= index %> ],
    "mData": "color",
    "mRender": function ( data, type, full ) {      
      return '<span class="indicador-color" style="background-color: '+data+';"></span>';      
    }
  }],
  <% end %>
  
  pageLength: 25,
  responsive: true,
  language: {
    processing:     "Procesando...",
    search:         "Buscar&nbsp;:",
    lengthMenu:    "Mostrar _MENU_ registros",
    info:           "De _TOTAL_ registro(s) <br/> Se muestran del _START_ al _END_.",
    infoEmpty:      "No existen registros por mostrar",
    infoFiltered:   "No existen registros por mostrar",
    infoPostFix:    "",
    loadingRecords: "Cargando registros...",
    zeroRecords:    "",
    emptyTable:     "",
    paginate: {
      first:      "Primero",
      previous:   "Anterior",
      next:       "Siguiente",
      last:       "Último"
    },
    aria: {
      sortAscending:  ": Activar para ordenar la columna de manera ascendente",
      sortDescending: ": Activar para ordenar la columna de manera descendente"
    }
  }
}

if(<%= @useDataTableFooter != nil ? @useDataTableFooter : false %>) {
  data_tables_options["footerCallback"] = function (row, data, start, end, display) { 
    var api = this.api();
    footer = $("#dataTable-footer")
    if (footer.length == 0){
      footer = $("<tfoot />", { id: "dataTable-footer" });
      $(this).append(footer);
    }
    jQuery.useDataTableFooter(footer, api, row, data, start, end, display)
 }
}
else{
  data_tables_options["footerCallback"] = null;
}
console.log("footerCallback");
console.log(data_tables_options["footerCallback"]);
$('#ajax-datatable').DataTable(data_tables_options);

$('.dataTables.clickable').on('click', 'tbody tr', function () {
  link = $(this).attr('id');
  if (link){
    window.location.href = link;
  }
  else{
    console.log("No se encuentra el URL.");
  }
});
<% else %>
console.log("No has definido los atributos a mostrar del dataTable.")
<% end %>