<div class="row" align="right">
  <div align="center" class="col-sm-12">
    <%= link_to 'Atrás', :back, class: 'btn btn-white col-2' %>
    <%= f.submit yield(:texto_boton), class: "btn btn-primary col-2" %>
  </div>
</div>
