<table class="table table-striped table-bordered table-hover dataTables clickable" >
  <thead>
    <tr>
      <% object_attributes.each do |_, th| %>
        <th><%= th %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% object_list.each do |object| %>
      <tr data-link="<%= polymorphic_url(object) %>">
        <% object_attributes.each do |attribute, _| %>
          <td><%= object.send attribute %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
