var i = 1;

function addRecargoField () {
  $('#total-row').before(`
    <tr id="recargo${i}">
      <td><input class="deletable deletable-recargo" type="checkbox" name="deletable"></td>
      <td>
        <select id="t_recargo${i}" name="t_recargo${i}" style="width: 100%;">
          <option value="">Seleccione</option>
          <% TRecargo.all.each do |tr| %>
            <option value="<%= tr.id %>"><%= tr.descripcion %></option>
          <% end %>
        </select>
      </td>
      <td class="descripcion-cell"></td>
      <td class="quantity"></td>
      <td class="price"></td>
      <td style="text-align: center;"></td>
    </tr>
  `);
  $(`#t_recargo${i}`).select2();
  i++;
}

function deleteCheckedRows() {
  $('.deletable:checked').each(function() {
    if ($(this).hasClass('deletable-servicio')) {
      $(this).parent().siblings().last().children().last().click();
    } else {
      $(this).parent().parent().remove();
    }
  });
}

function getTotal(target, total = 0) {
  $(target).each(function() {
    total += Number($(this).val());
  });
  return total;
}

function setTotal(target, total = 0) {
  $(target).text(total);
}

function setSubTotal(thys, isQuantity = true) {
  if (isQuantity) {
    var quantity = Number($(thys).val());
    var price = 0;
    var selfClass = 'price-cell';
  } else {
    var price = Number($(thys).val());
    var quantity = 0;
    var selfClass = 'quantity-cell';
  }
  // alert('quantity: ' + quantity + '\nprice: ' + price);
  $(thys).parent().siblings().each(function () {
    if ($(this).hasClass(selfClass)) {
      if (isQuantity) {
        price = Number($(this).children().first().val());
      } else {
        quantity = Number($(this).children().first().val());
      }
    }
    if ($(this).hasClass('subtotal-cell')) {
      $(this).text(quantity * price);
    }
  });
}