<div class="row">
    <div class="col-lg-12">
        <div class="ibox-title">
            <h5>Registrar tipo de persona</h5>
        </div>
    </div>
</div>
<%= render 'form', registro: @registro, editable: true, return_to: t_tipo_personas_path %>