<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Estatus:</th>
      <td></td>
    </tr>
    <tr>
      <th>Cliente:</th>
      <td></td>
    </tr>
    <tr>
      <th>Empresa:</th>
      <td></td>
    </tr>
    <tr>
      <th>Dirección:</th>
      <td></td>
    </tr>
    <tr>
      <th>Telf.:</th>
      <td></td>
    </tr>
    <tr>
      <th>E-mail:</th>
      <td></td>
    </tr>
  </tbody>
</table>
