<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Fecha de la Factura:</th>
      <td><%= f.text_field :fecha_notificacion, class: 'datepicker', style: 'width: 100%', value: Date.today.strftime('%d/%m/%Y') %></td>
    </tr>
    <tr>
      <th>Fecha de Vencimiento:</th>
      <td><%= f.text_field :fecha_vencimiento, class: 'datepicker', style: 'width: 100%', value: (Date.today + 30.days).strftime('%d/%m/%Y') %></td>
    </tr>
    <tr>
      <th>Cuenta de Venta:</th>
      <td></td>
    </tr>
    <tr>
      <th>Periodo:</th>
      <td><%= f.collection_select :t_periodo_id, TPeriodo.all, :id, :descripcion, {include_blank: 'Seleccione'}, {class: 'select2', style: 'width: 100%'} %></td>
    </tr>
  </tbody>
</table>
