<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="select-codigo">Código</label>
      <select class="search-client" id="select-codigo" tabindex="2" style="width: 100%;"></select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="select-razon_social">Céd. / Pas. / RUC</label>
      <select class="search-client" id="select-razon_social" tabindex="2" style="width: 100%;"></select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="select-resolucion">Resolución</label>
      <select class="search-client" name="t_factura[t_resolucion_id]" id="select-resolucion" tabindex="2" style="width: 100%;"></select>
      <%= f.hidden_field :t_resolucion_id, id: 'input-resolucion', value: '' %>
    </div>
  </div>
</div>
