<%
  use_resolucion_filter = true
  if defined?(hide_resolucion_filter) && hide_resolucion_filter != nil  
    use_resolucion_filter = false
  end
%>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="select-codigo">Código</label>
      <select class="search-client" id="select-codigo" tabindex="2" style="width: 100%;">
        <option></option>
      </select>
      <input class="dynamic-client" id="select-codigo-input" name="dynamic_attributes[t_cliente][codigo_select]" type="hidden">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="select-cedula">Céd. / Pas. / RUC</label>
      <select class="search-client" id="select-cedula" tabindex="2" style="width: 100%;">
        <option></option>
      </select>
      <input class="dynamic-client" id="select-cedula-input" name="dynamic_attributes[t_cliente][cedula]" type="hidden">
    </div>
  </div>
  <% if use_resolucion_filter %>
  <div class="col-md-4">
    <div class="form-group">
      <label for="select-resolucion">Resolución</label>
      <select class="search-client" name="t_factura[t_resolucion_id]" id="select-resolucion" tabindex="2" style="width: 100%;">
        <option></option>
      </select>
      <input id="input-resolucion" type="hidden" name="t_factura[t_resolucion_id]" value="" />
      <input class="dynamic-client" id="select-resolucion-input" name="dynamic_attributes[t_cliente][resolucion]" type="hidden">
      <input class="dynamic-client" id="select-resolucion_id-input" name="dynamic_attributes[t_cliente][resolucion_id]" type="hidden">
    </div>
  </div>
  <% end %>
</div>
