@import 'bootstrap.min.css';
@import 'vendor/datatables.min.css';
@import 'vendor/select2/select2.min.css';
@import 'vendor/jQueryUI/jquery-ui.css';
@import 'vendor/jQueryUI/jquery-ui-1.10.4.custom.min.css';
@import 'vendor/datapicker/datepicker3.css';
@import 'vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css';

.hide {
  display:none;  
}

.center-content{
  display:flex;
  justify-content:center;
  align-items:center;
}

.indicador-color {
    display: block;
    border: solid 1px #3e3e3e;
    width: 28px;
    height: 28px;
    border-radius: 5px;
}

.input-value {
  display: flex;  
  align-items: center;
  border-left:solid 1px #eaeaea;
  margin-bottom: .5rem;
}

[class*=text-] {
  width: 100%;
}

.field_with_errors {
  width: 100%;
}

.field_with_errors input,
.field_with_errors textarea{
  border-bottom: solid 2px #ed5565;
}

.dataTables.clickable > tbody > tr {
  cursor: pointer
}

.waiting-content {
  max-height: 200px;
  opacity: 0;
  transition: all 500ms;
}
.waiting-content.ready{
  max-height: inherit;
  opacity: 1;
}

.spiner-waiting-load-page {
  position:absolute;
  left:50%;
  transform: translate(-50%);
  transition: opacity 500ms;
}

.spiner-waiting-load-page.stop{
  opacity:0;
}