@import "bootstrap";

@import "vendor/datatables.min.css";

.center-content{
  display:flex;
  justify-content:center;
  align-items:center;
}

.indicador-color {
    display: block;
    border: solid 1px #3e3e3e;
    width: 28px;
    height: 28px;
    border-radius: 5px;
}

.input-value {
  display: flex;  
  align-items: center;
  border-left:solid 1px #eaeaea
}