<div class="ibox-content">
  <%= form_for [:admin, @user] do |form| %>
    <%= render 'form_fields', registro: registro, editable: editable %>
    <div class="form-group row">
      <% if editable %>
        <%= render "shared/action_buttons",
          list_route: return_to, list_text: "Usuarios",
          back_route: admin_users_path(registro), back_text: "Cancelar",
          save_form: true, save_text: "Guardar",
          button_size: "xs" %>
      <% else %>
        <%= render "shared/action_buttons",
          list_route: return_to, list_text: "Usuarios",
          edit_route: edit_admin_user_path(registro), edit_text: "Editar",
          delete_route: admin_user_path(registro), delete_text: "Borrar",
          button_size: "xs" %>
      <% end %>
    </div>
  <% end %>
</div>
