<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-6">
    <div class="ibox">
      <div class="ibox-title">
        <h5>Editar Recargo en Servicios TS</h5>
      </div>
      <%= render 'form', registro: @t_configuracion_recargo_ts, editable: true, return_to: t_configuracion_recargo_ts_path %>
    </div>
  </div>
</div>
