<div class="ibox-content">
  <%= render "shared/spiner_loading" %>
  <div class="waiting-content table-responsive">
    <div class="col-12">
      <p class="text-info">Puedes hacer "click" en cualquier fila para ver el detalle del registro.</p>
    </div>
    <table class="table table-striped table-bordered table-hover dataTables clickable" data-source="<%= t_clientes_path(format: :json) %>" id="ajax-datatable">
      <thead>
        <tr>
          <th>SERI</th>
          <th style="min-width: 110px;">Céd. / Pas. / RUC</th>
          <th>Razón social</th>
          <th>Teléfono</th>
          <th>Email</th>
          <th>¿Es Prospecto?</th>
          <th>Estatus</th>
          <th>Tipo persona</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>  
</div>