<div class="row">
	<div class="col-lg-12">
		<div class="ibox-title">
			<h5>Editar cliente #<%= @registro.codigo %>, <%= @registro.razon_social %></h5>
		</div>
	</div>
</div>
<%= render 'form', registro: @registro, editable: true, return_to: t_clientes_path %>