<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox ">
        <div class="ibox-title">
          <div class="row">
            <div class="col-6">
              <h5>Trámites</h5>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <% if TRecibo.count > 0 %>
            <div class="table-responsive">
              <div class="row">
                <div class="col-6">
                  <p class="text-info">Puedes hacer clic en cualquier fila para ver el detalle del registro.</p>
                </div>
                <div class="col-6">
                  <%= render 'shared/filters', show_prospecto: true %>
                </div>
              </div>
              <table class="table table-striped table-bordered table-hover dataTables clickable" data-source="<%= tramites_t_clientes_path(format: :json) %>" id="ajax-datatable">
                <thead>
                  <tr>
                    <th>Registrado el</th>
                    <th>Código SERI</th>
                    <th>Céd. / Pas. / RUC</th>
                    <th>Razón social</th>
                    <!-- <th>Teléfono</th>
                    <th>Email</th> -->
                    <th>¿Es Prospecto?</th>
                    <th>Estatus</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          <% else %>
            <div>
              <p>No se encontraron registros.</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      autoclose: true,
      format: "dd/mm/yyyy"
    });

    $.extend({
      useDataInAjaxCall: function (d) {
        d.from = $('#from').val();
        d.to = $('#to').val();
        d.prospecto = $('#prospecto')[0].checked;
      },
      useDataTableFooter: function (footer) {
        $.ajax({
          url: '<%= "#{total_t_clientes_path}" %>',
          contentType: "application/json",
          type: 'get',
          data: {
            from: $('#from').val(),
            to: $('#to').val(),
            prospecto: $('#prospecto')[0].checked
          }
        })
        .done(function (data) {
          if (data.procesado) {
            footer.empty().append($("<tr />")
              .append($("<td />"))
              .append($("<td />"))
              .append($("<td />"))
              .append($("<td />").html("Total"))
              .append($("<td />").html(data.total))
              .append($("<td />"))
            )
          }
        });
      }
    });

    function refreshTable () {
      $("#ajax-datatable").DataTable().ajax.reload();
    }

    $('.datepicker').on('changeDate', function (e) {
      refreshTable();
    });

    $('#clean-dates').click(function () {
      $('.datepicker').val('');
      refreshTable();
    });

    $('.i-checks').iCheck({
      checkboxClass: 'icheckbox_square-green',
      radioClass: 'iradio_square-green',
    });

    $('#prospecto').on('ifChanged', function () {
      refreshTable();
    });


    // $('#prospecto').change(function () {
    //   console.log(this.checked);
    // });
  });
</script>