<% if notice %>
  <div class="alert alert-success">
    <center><<h4><p class="notice "><%= notice %></p></h4></center>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger" >
    <center><<h4><p class="alert "><%= alert %></p></h4></center>
  </div>
<% end %>
