<% if notice %>
  <div class="alert alert-success">
    <center><h5><p class="notice "><%= notice %></p></h5></center>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger" >
    <center><h5><p class="alert "><%= alert %></p></h5></center>
  </div>
<% end %>
