<% if notice %>
  <div class="alert alert-success">
    <center><p class="notice "><%= notice %></p></center>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger">
    <center><p class="alert "><%= alert %></p></center>
  </div>
<% end %>
