<% if notice %>
  <div class="bg-success">
    <p class="notice "><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="bg-danger" >
    <p class="alert"><%= alert %></p>
  </div>
<% end %>
